body {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}

.navbar {
    scroll-behavior: smooth;
    z-index: 10;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: #1a1919;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.logo {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #1db954;
    list-style: none;
}

.navbar ul {
    scroll-behavior: smooth;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: -webkit-sticky; 
    position: sticky;
    top: 0
}

.navbar li {
    scroll-behavior: smooth;
    margin-right: 20px; 
}

.navbar a {
    scroll-behavior: smooth;
    text-decoration: none;
    color: #ffffff; 
    font-weight: bold;
}

.navbar a:hover {
    color: #1db954; 
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
    .navbar li {
        text-align: center;
        padding: 0px 20px; 
    }
}







